* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: rgb(68, 130, 230);
    display: block;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100vw;
    height: 3rem;
    margin-top: 2rem;
}

header div {}

nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100vw;
    margin-left: 1rem;
}

#nav {
    text-align: center;
    padding: 1rem 1.2rem;
    text-decoration: none;
    color: rgb(68, 130, 230);
    width: 25%;

}

div h1 {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 2rem;
}


main {
    margin-top: 3.5rem;
}



.about-me {
    width: 100vw;
    padding: 1rem 2rem;
    display: block;
    text-align: center;
}

blockquote {
    font-size: 24px;
    height: inherit(img);
}

@media (min-width:676px) {
    .about-me {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    header {
        align-items: flex-start;
        justify-content: space-between;
        position: fixed;
        flex-direction: row;
        background-color: white;
        top: 0;
        margin-top: 0;
    }

    nav {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 50vw;
        margin-left: 1rem;
    }

    blockquote {
        font-size: 48px;
        height: inherit(img);
    }
}

.skills {
    display: block;
    width: 100%;
    padding: 1rem 2rem;
}

.skills div {

    border-radius: 2rem;
    height: 2rem;
    font-size: medium;
    text-align: center;
    margin: 1rem;
    color: white;
    padding: 0.5rem;

}

#html {
    width: 85%;
    background-color: rgb(68, 130, 230);
}

#css {
    width: 75%;
    background-color: rgb(68, 130, 230);
}

#js {
    width: 75%;
    background-color: rgb(68, 130, 230);
}

#python {
    width: 90%;
    background-color: rgb(68, 130, 230);
}

.projects {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.project-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 2rem;
}

.project-main {
    padding: 1rem 2rem;
}

.contact-me {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;

}

.contact-me h1 {
    align-self: flex-start;
    padding: 1rem 2rem;
}

.contact-me .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contact-me .contact-details .icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
}

a {
    text-decoration: none;
    color: rgb(68, 130, 230);
}


ul {
    width: 70vw;
}

li {
    list-style: none;
    display: inline;
    margin: 1rem 2rem;
}